{
    "UserAgent": "aws-amplify/cli",
    "Version": "0.1.0",
    "IdentityManager": {
        "Default": {}
    },
    "CognitoUserPool": {
        "Default": {
            "PoolId": "${COGNITO_POOL_ID}",
            "AppClientId": "${COGNITO_APP_CLIENT_ID}",
            "Region": "${AWS_REGION}"
        }
    },
    "Auth": {
        "Default": {
            "authenticationFlowType": "USER_SRP_AUTH",
            "OAuth": {
                "WebDomain": "${COGNITO_WEB_DOMAIN}",
                "AppClientId": "${COGNITO_APP_CLIENT_ID}",
                "SignInRedirectURI": "trophyfitness://signin",
                "SignOutRedirectURI": "trophyfitness://signout",
                "Scopes": ["openid", "email", "profile"]
            }
        }
    },
    "API": {
        "BaseUrl": "${API_GATEWAY_ENDPOINT}"
    }
}
